<div *ngIf="book" class="container mt-4 mb-5">

    <form #bookForm="ngForm" (ngSubmit)="save()" novalidate>
        <h2 *ngIf="!book.id" class="mb-4">New Book</h2>
        <h2 *ngIf="book.id">Edit Book "{{oldTitle}}"</h2>

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input [(ngModel)]="book.title" #title="ngModel" type="text" class="form-control" id="title"
                placeholder="Title" name="title" required />

            <div *ngIf="title.invalid && title.touched" class="text-danger">
                Title is required
            </div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Abstract</label>
            <textarea [(ngModel)]="book.description" #description="ngModel" class="form-control" id="description"
                placeholder="Description" rows="4" name="description" required></textarea>

            <div *ngIf="description.invalid && description.touched" class="text-danger">
                Description is required
            </div>
        </div>

        <p><b>Image:</b></p>
        <img *ngIf="!newBook" [src]="bookImage()" class="img-fluid mb-3" alt="Book Image">

        <div *ngIf="book.image" class="form-check">
            <input [(ngModel)]="removeImage" type="checkbox" name="removeImage" class="form-check-input"
                id="removeImage">
            <label class="form-check-label" for="removeImage">Remove Image</label>
        </div>

        <div *ngIf="!newBook" class="mb-3">
            <label *ngIf="!book.image" for="uploadImage" class="form-label">Upload Image</label>
            <label *ngIf="book.image" for="uploadImage" class="form-label">Update Image</label>
        </div>

        <input #file type="file" name="imageField" accept=".jpg, .jpeg" class="form-control mb-3" />

        <div class="mb-3">
            <label for="shops" class="form-label">Shops:</label>
            <select [(ngModel)]="selectedBooks" name="shops" id="shops" multiple class="form-select">
                <option *ngFor="let shop of shops" [value]="shop.id">{{shop.name}}</option>
            </select>
        </div>

        <div class="mb-3">
            <button type="button" (click)="cancel()" class="btn btn-secondary me-2">Cancel</button>
            <button type="submit" class="btn btn-primary" [disabled]="bookForm.invalid">Save</button>
        </div>
    </form>

</div>

<!-- Message Error Modal -->
<ng-template #messageErrorModal let-modal>
    <div class="modal-header bg-danger text-white">
        <h4 class="modal-title">Message Error</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <p>{{messageError}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" (click)="modal.close()">Close</button>
    </div>
</ng-template>