<h2 class="mb-4">Books</h2>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div *ngFor="let book of books" class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title"><a [routerLink]="['/books', book.id]"
                        class="text-decoration-none text-dark">{{book.title}}</a></h5>
            </div>
        </div>
    </div>
</div>

<div class="mt-4">
    <button *ngIf="loginService.isLogged()" (click)="newBook()" class="btn btn-primary">New Book</button>
</div>