#div-before {
    background-color: blue;
    width: 400px;
}

#div-after {
    background-color: blue;
    width: 400px;
}

#div-1 {
    color: white;
    background-color: black;
    width: 370px;
    padding: 15px;
}

#div-1a {
    background-color: red;    
}

#div-1b {
    background-color: green;    
}

#div-1c {
    background-color: blue;
}

