<div *ngIf="!loginService.isLogged()" class="d-flex align-items-center p-2">
    <form (ngSubmit)="logIn(user.value, password.value)">
        <div class="d-flex">
            <input #user type="text" class="form-control me-3" name="username" placeholder="Username">
            <input #password type="password" class="form-control me-3" name="password" placeholder="Password">
            <button type="submit" class="btn btn-primary btn-nowrap w-50">
                Log In
            </button>
        </div>
    </form>
</div>

<ul *ngIf="loginService.isLogged()" class="navbar-nav d-flex align-items-center">
    <li class="nav-item">
        <span class="navbar-text fs-3 text-white mx-3">{{loginService.user.name}}</span>
    </li>
    <li class="nav-item">
        <button (click)="logOut()" class="btn btn-primary btn-nowrap" type="submit">Log Out</button>
    </li>
</ul>

<!-- Login Error Modal -->
<ng-template #loginErrorModal let-modal>
    <div class="modal-header bg-danger text-white">
        <h4 class="modal-title">Login Error</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <p>Incorrect username or password. Please try again.</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" (click)="modal.close()">Close</button>
    </div>
</ng-template>