<div *ngIf="book" class="container mt-4 mb-5">
    <h2>Book "{{book.title}}"</h2>

    <img [src]="bookImage()" class="img-fluid mb-4" alt="Book Image">

    <div>
        <p>{{book.description}}</p>
    </div>

    <p><b>Shops where book is available:</b></p>
    <div>
        <ul class="list-group">
            <li *ngFor="let shop of book.shops" class="list-group-item" style="margin-top: 1px;">{{shop.name}}</li>
        </ul>
    </div>

    <div class="mt-4">
        <div *ngIf="loginService.isLogged()" class="btn-group">
            <a *ngIf="loginService.isAdmin()" (click)="removeBook()" class="btn btn-danger">Remove</a>
            <a *ngIf="loginService.isLogged()" [routerLink]="['/books/edit', book.id]" class="btn btn-warning">Edit</a>
        </div>

        <br>
        <a routerLink="/books" class="btn btn-secondary mt-3">Back to all books</a>
    </div>
</div>

<!-- Book Remove Modal -->
<ng-template #bookRemoveModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Remove Book</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        Do you want to remove this book?
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
        <button class="btn btn-danger" (click)="modal.close('remove')">Remove</button>
    </div>
</ng-template>